/* 
Cores 
    Titulo #7a7575

*/

body {
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
}

h2 {
    font-weight: 600;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 130%;
}

